@import url("base.css");
@import url("grid.css");
@import url("form.css");
@import url("nav.css");
@import url("card.css");
@import url("tab.css");
@import url("tag.css");
@import url("dropdown.css");
@import url("util.css");

h1,
h2,
h3 {
    text-align: center;
}

body {
    margin-left: 28vh;
    margin-right: 28vh;
}
*::selection {
    background-color: #ffd000;
}